{% extends 'budget/base.html' %}
{% load humanize %}

{% block content %}
    <div class="container">
        <section class="section section-stats">
            <div class="row">
                <div class="col s12 m6 l3">
                    <div class="card-panel">
                        <h6 class="bold">Total Budget <span class="pound">Currency: £</span></h6>
                        <h2 class="bold">{{ project.budget|intcomma }}</h2>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card-panel">
                        <h6 class="bold">Budget Remaining</h6>
                        {% if project.budget_left > 0 %}
                            <h2 class="bold green-text">{{ project.budget_left|intcomma }}</h2>
                        {% elif project.budget_left == 0 %}
                            <h2 class="bold orange-text">{{ project.budget_left|intcomma }}</h2>
                        {% else %}
                            <h2 class="bold red-text">{{ project.budget_left|intcomma }}</h2>
                        {% endif %}
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card-panel">
                        <h6 class="bold">Total Transactions</h6>
                        <h2 class="bold">{{ project.total_transactions }}</h2>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card-panel">
                        <h6 class="bold">Days Allocated</h6>
                        <h2 class="bold">{{ project.days }}</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-expenses">
            <div class="row">
                <button class="btn grey waves-effect right modal-trigger" href="#expenseModal">
                    <i class="material-icons right">add_circle_outline</i>
                    Add Expense
                </button>
            </div>
            <ul class="z-depth-1">
                {% for expense in expense_list %}
                    <li>
                        <div class="card-panel z-depth-0 expense">
                            <div class="row">

                                <div class="col l6">
                                    <span class="title">{{ expense.title }}</span>
                                </div>
                                <div class="col l3">
                                    <span class="title">£{{ expense.amount|intcomma }}</span>
                                </div>
                                <div class="col 1">
                                    <span class="title bold">{{ expense.category.name }}</span>
                                </div>
                                <a class="close-icon" onclick="deleteExpense(this)" data-id="{{ expense.id }}">
                                    <i class="material-icons red-text right">delete_forever</i>
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
    <div id="expenseModal" class="modal">
        <div class="modal-content">
            <h4>Add Expense</h4>
            <form method="POST">
                {% csrf_token %}
                <label for="title">Title</label>
                <input type="text" name="title" id="title" required>
                <label for="amount">Amount</label>
                <input type="number" pattern="\d+" min="0" name="amount" id="amount" required>
                <select name="category">
                    {% for category in category_list %}
                        <option>{{ category.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn grey">Add
                    <i class="material-icons right">add_circle_outline</i>
                </button>
            </form>
        </div>
    </div>
    <script>
        let el = document.querySelector('.modal');
        let instance = M.Modal.init(el);
        let elem = document.querySelector('select');
        let inst = M.FormSelect.init(elem);

        function deleteExpense(e) {
            let id = e.dataset.id;
            e.closest('li').remove();
            fetch('', {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    'id': id
                }),
                credentials: 'same-origin',
            });
            document.location.reload();
        }
    </script>
{% endblock %}